.section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-header-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-wrapper {
  cursor: pointer;
  position: relative;
  border-radius: 100%;
  border: 2px solid gray;
}

.avatar-icon-container {
  position: absolute;
  bottom: 10px;
  right: -5px;
}
