.signin-container {
  width: 100%;
  height: 100%;
}

.signin-form-container {
  width: 100%;
  height: calc(100% - 98px - 52px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
